**SQL feladatok:**

1. Feladat:

In [ ]:
SELECT 
    s.SZOBA_ID,
    COUNT(f.FOGLALAS_PK) AS foglalasok_dbszama
FROM 
    Szoba s
LEFT JOIN 
    Foglalas f ON s.SZOBA_ID = f.SZOBA_FK
GROUP BY 
    s.SZOBA_ID;

2. Feladat:

In [ ]:
SELECT 
    sz.SZALLAS_ID,
    sz.SZALLAS_NEV
FROM 
    Szallashely sz
JOIN 
    (SELECT 
         HELY,
         MAX(CSILLAGOK_SZAMA) AS max_csillagok
     FROM 
         Szallashely
     WHERE
         CSILLAGOK_SZAMA > 0
     GROUP BY 
         HELY) max_szallas ON sz.HELY = max_szallas.HELY AND sz.CSILLAGOK_SZAMA = max_szallas.max_csillagok;

3. Feladat:

4. Feladat:

In [ ]:
SELECT 
    v.USERNEV AS VENDEG_azon,
    v.NEV,
    v.SZUL_DAT AS Szul_datum,
    MIN(f.METTOL) AS Elso_foglalas,
    MAX(f.METTOL) AS Utolso_foglalas
FROM 
    VENDEG v
LEFT JOIN 
    FOGLALAS f ON v.USERNEV = f.UGYFEL_FK
GROUP BY 
    v.USERNEV, v.NEV, v.SZUL_DAT;

5. Feladat:

In [ ]:
SELECT 
    COUNT(DISTINCT Ferohely) AS Kul_ertekek,
    MIN(Ferohely) AS Minimum_ertek,
    MAX(Ferohely) AS Maximum_ertek,
    AVG(Ferohely) AS Atlag_ertek,
    (COUNT(Ferohely) * 100.0 / COUNT(*)) AS Not_null_szazaleka,
    ((COUNT(*) - COUNT(Ferohely)) * 100.0 / COUNT(*)) AS Null_szazaleka
FROM Szoba;

**NoSQL feladatok:**

6. Feladat:

In [ ]:
HSET IRO:1 ID 1 nev "Petőfi Sándor" nemzetiseg "magyar"
HSET IRO:2 ID 2 nev "J. K. Rowling" nemzetiseg "britt"
HSET KONYV:1 ID 1 cim "János Vitéz" mufaj "elbeszélő költemény" IRO_ID 1
HSET KONYV:2 ID 2 cim "Harry Potter" mufaj "Sci-fi" IRO_ID 2

7. Feladat:

In [ ]:
CREATE TABLE STUDENT (
    ID int PRIMARY KEY,
    Nev text,
    Teljesitett_felevek list<int>,
    Eredmenyek map<int, float>,
    Nyelvtudas set<text>
);

INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas) 
VALUES (1, 'Kiss Gáspár', [1, 2, 3], {1: 3.00, 2: 4.55, 3: 4.10}, {'Angol', 'Német'});

INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas) 
VALUES (2, 'Olajos Dávid', [1, 2, 3, 4], {1: 3.75, 2: 3.85, 3: 4.25, 4: 3.95}, {'Angol', 'Mandarin'});

8. Feladat:

In [ ]:
MATCH (tom:Person {name: "Tom Hanks"})-[:ACTED_IN]->(movie:Movie)<-[:ACTED_IN]-(coactor:Person)
WHERE coactor.name <> "Tom Hanks"
RETURN DISTINCT coactor.name AS Szinesz